{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-order-status" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-order-status" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_name }}</label>
            <div class="col-sm-10">
              {% for language in languages %}
              <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                <input type="text" name="order_status[{{ language.language_id }}][name]" value="{{ order_status[language.language_id] ? order_status[language.language_id].name }}" placeholder="{{ entry_name }}" class="form-control" />
              </div>
              {% if error_name[language.language_id] %}
              <div class="text-danger">{{ error_name[language.language_id] }}</div>
              {% endif %}
              {% endfor %}
            </div>
          </div>

          <div class="form-group os-colorpicker">
            <label class="col-sm-2 control-label">{{ entry_backgrond_color }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" name="backgrond_color" value="{{ backgrond_color }}" placeholder="{{ entry_backgrond_color }}" class="form-control jcolor" />
                <span class="input-group-addon jcolor_o" style="{% if backgrond_color %}background-color: {{ backgrond_color }};{% endif %}"></span>
              </div>
            </div>
          </div>
          <div class="form-group os-colorpicker">
            <label class="col-sm-2 control-label">{{ entry_text_color }}</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" name="text_color" value="{{ text_color }}" placeholder="{{ entry_text_color }}" class="form-control jcolor" />
                <span class="input-group-addon jcolor_o" style="{% if text_color %}background-color: {{ text_color }};{% endif %}"></span>
              </div>
            </div>
          </div>
			
        </form>
      </div>
    </div>
  </div>
</div>

			<script type="text/javascript"><!--
			  // Color Picker
			  {# /*https://farbelous.io/bootstrap-colorpicker/v2/*/ #}
			  $(function() {
			    var colorpicker = $('.jcolor').colorpicker({
			      'align': 'left',
			    });
			    colorpicker.on('changeColor', function(e) {
			      var clr = $(this).data('colorpicker').getValue();
			      $(this).parents('.os-colorpicker').first().find('.jcolor_o').css('background-color' , clr);
			    }).on('hidePicker', function(e) {
			      console.log('hide me');
			    });

			  });
			//--></script>
			
{{ footer }}
