{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-order-status').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-order-status">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'name' %}
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                    {% else %}
                    <a href="{{ sort_name }}">{{ column_name }}</a>
                    {% endif %}</td>

            <td class="text-right">{{ column_backgrond_color }}</td>
            <td class="text-right">{{ column_text_color }}</td>
			
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if order_statuses %}
                {% for order_status in order_statuses %}
                <tr>
                  <td class="text-center">{% if order_status.order_status_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ order_status.order_status_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ order_status.order_status_id }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ order_status.name }}</td>

            <td class="text-left"><div class="form-group os-colorpicker"><div class="input-group"><input type="text" class="form-control jcolor" data-action="background_color" data-order-status-id="{{ order_status.order_status_id }}" name="jcolor[background_color]" value="{{ order_status.background_color }}" /> <span class="input-group-addon jcolor_o" style="{% if order_status.background_color %}background-color: {{ order_status.background_color }};{% endif %}"></span> </div></div></td>
            <td class="text-left"><div class="form-group os-colorpicker"><div class="input-group"><input type="text" class="form-control jcolor" data-action="text_color" data-order-status-id="{{ order_status.order_status_id }}" name="jcolor[text_color]" value="{{ order_status.text_color }}" /> <span class="input-group-addon jcolor_o" style="{% if order_status.text_color %}background-color: {{ order_status.text_color }};{% endif %}"></span> </div></div></td>
			
                  <td class="text-right"><a href="{{ order_status.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="3">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

			<script type="text/javascript"><!--
			  // Color Picker
			  {# /*https://farbelous.io/bootstrap-colorpicker/v2/*/ #}
			  $(function() {
			    var colorpicker = $('.jcolor').colorpicker({
			      'align': 'left',
			    });
			    colorpicker.on('changeColor', function(e) {
			      var clr = $(this).data('colorpicker').getValue();
			      $(this).parents('.os-colorpicker').first().find('.jcolor_o').css('background-color' , clr);
			    }).on('hidePicker', function(e) {
			      var clr = $(this).val(); //$(this).data('colorpicker').getValue();
			      var order_status_id = $(this).attr('data-order-status-id');
			      var action = $(this).attr('data-action');
			      $.ajax({
			        url: 'index.php?route=localisation/order_status/setOrderStatusColor&user_token={{ user_token }}',
			        type: 'post',
			        data: 'order_status_id=' + order_status_id + '&action=' + action  + '&color='+ clr,
			        dataType: 'json',
			        beforeSend: function() {
			        },
			        complete: function() {
			        },
			        success: function(json) {
			        },
			        error: function(xhr, ajaxOptions, thrownError) {
			          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			        }
			      });
			    });
			  });
			//--></script>
			
{{ footer }} 