<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5 class="hidden">{{ text_information }}</h5>
        <ul class="list-unstyled">
          <li><a href="?route=information/information&information_id=15">服務據點</a></li>
         {% for information in informations %}
          <li class="hidden"><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5 class="hidden">{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li class="hidden"><a href="{{ return }}">{{ text_return }}</a></li>
          <li class="hidden"><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5 class="hidden">{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li class="hidden"><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li class="hidden"><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li class="hidden"><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li class="hidden"><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      {#
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
      #}
    </div>
    <hr>
    <p>{{ powered }}</p>
  </div>
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
{#
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
#}
<div class="totop">
  <img src="image/TOP.png">
</div>

<style type="text/css">
  .totop {
    cursor: pointer;
    display: none;
    position: fixed;
    right: 5%;
    bottom: 58px;
    z-index: 10;
  }
</style>
<script type="text/javascript">
  function totop() {
    var scrollVal = $(this).scrollTop();
    if(scrollVal > 200){
      $('.totop').fadeIn()
    }else{
      $('.totop').fadeOut()
    }
  }
  window.onscroll = function(){totop()}
  $('.totop').click(function(){
    $('html,body').animate({ scrollTop: 0 }, 'slow');
    return false;
  });
</script>

</body></html>