﻿/*
 * Simplica Free OpenCart Theme CSS
 * By Harnish Design
 * www.harnishdesign.net
 */

body { font-family: 'Open Sans', sans-serif; font-weight: 400; color: #333; font-size: 16px; line-height: 20px; width: 100%; }
h1, h2, h3, h4, h5, h6 { color: #222; }
/* default font size */
.fa { font-size: 14px; }
/* Override the bootstrap defaults */
h1 { font-size: 33px; margin-top:0px;}
h2 { font-size: 27px; }
h3 { font-size: 21px; }
h4 { font-size: 15px; }
h5 { font-size: 12px; }
h6 { font-size: 10.2px; }

a { color: #007acc; }
a:hover { text-decoration: none; color: #000;}
legend { font-size: 18px; padding: 7px 0px }
label { font-size: 12px; font-weight: normal; }
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control { font-size: 12px; }
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover { font-size: 12px; }
.input-group .input-group-addon { font-size: 12px; height: 30px; }
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg { display: inline; }
.tab-content > .tab-pane{border:1px solid #ddd; border-width:0px 1px 1px 1px; padding:15px;}
div.required .control-label:before { content: '* '; color: #F00; font-weight: bold; }
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover { text-decoration: none; color: #007acc; background-color: #eee;}
.dropdown-menu{border:none;}
#product{margin-top:10px;}
/* top */
#top { background-color:#607D8B; padding:0; margin: 0 0 25px 0; min-height: 36px; }
#top .container { padding: 0 20px; }
#top #form-currency .currency-select, #top #form-language .language-select { text-align: left; color:#333; font-size:13px; padding:3px 16px;}
#top #form-currency .currency-select:hover, #top #form-language .language-select:hover { text-shadow: none; text-decoration:none; color: #007acc; background-color: #eee;}
#top .btn-group > .btn-link, #top-links > ul > li, #top-links > ul > li > a { color: #bbb; background:none; text-decoration: none; }
#top .btn-group > .btn-link:hover, #top-links > ul > li > a:hover { color: #eee;}
#top-links .dropdown-menu a { text-shadow: none; font-size:13px; }
#top .btn-link strong { font-size: 14px; line-height: 14px; }
#top-links { padding-top: 6px; }
#top-links a + a { margin-left: 15px; }

/* logo */
#logo {margin: 0 0 15px 0;}

/* search */
#search {
 margin-bottom:15px;
 top: 30px; /* add by Angus 2021.10.30 */
}
/* add by Angus 2021.10.30 */
@media (max-width: 1200px) {
 #search{ top: 16px}
}
@media (max-width: 992px) {
 #search{ top: 6px}
}/* add by Angus 2021.10.30 */

#search .input-lg { height: 40px; line-height: 20px; padding: 0 10px; border:1px solid #e0e0e0; box-shadow: none; border-right:none;}
#search .btn-lg {color:#999; font-size: 15px; line-height: 18px; padding: 10px 15px; text-shadow:none; box-shadow: none; background:none; border:1px solid #e0e0e0; border-left:none;}

/* cart */
#cart { margin-bottom:15px; float:right;}
#cart > .btn { font-size:14px; line-height: 18px; color: #666; background:none; border:none; text-shadow:none; box-shadow:none;}
#cart > .btn .fa{font-size:22px;}
#cart.open > .btn { background-image: none; color: #007acc;}
#cart.open > .btn:hover { color: #007acc; }
#cart .dropdown-menu {z-index: 1001;  min-width:350px;}
@media (max-width: 767px) {
#cart{float:none; text-align:center; display:block;}
#cart > .btn{float:none; padding:0;}
#cart .dropdown-menu{}

#logo{text-align:center;}
#logo img{display:inline-block;}
}
@media (max-width: 478px) {
 #cart .dropdown-menu {
 min-width: 100%;
}
}
#cart .dropdown-menu table { margin-bottom: 10px; }
#cart .dropdown-menu li > div { min-width: 427px; padding: 0 10px; }
@media (max-width: 478px) {
 #cart .dropdown-menu li > div {
 min-width: 100%;
}
}
#cart .dropdown-menu li p { margin: 20px 0; }

/* menu */
#menu { background-color: #f5f5f5; min-height: 40px;}
#menu .navbar-collapse{padding:0;}
#menu .nav > li > a { color: #000; padding: 10px 15px 10px 15px; min-height: 15px; background-color: transparent; font-size:1em;}
#menu .nav > li:hover > a, #menu .nav > li.open > a { background-color:#007acc; color:#fff; border-radius:3px;}
#menu .dropdown-menu { padding-bottom: 0; }
#menu .dropdown-inner { display: table; }
#menu .dropdown-inner ul { display: table-cell; }
#menu .dropdown-inner a { min-width: 175px; display: block; padding:4px 20px; clear: both; line-height: 20px; color: #333333; font-size: 12px; }
#menu .dropdown-inner li a:hover { color: #007acc; }
#menu .see-all { display: block; margin-top: 0.5em; border-top: 1px solid #DDD; padding: 3px 20px; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 3px 3px; font-size: 12px; }
#menu .see-all:hover, #menu .see-all:focus { text-decoration: none; color: #ffffff; background-color: #007acc;}
#menu #category { float: left; font-size: 16px; line-height: 40px; color: #000; margin-left:15px;}
#menu .btn-navbar {font-size: 15px; font-stretch: expanded; color: #FFF; padding: 2px 18px; float: right; background-color: #007acc;}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] { color: #ffffff; background-color: #000; }
@media (min-width: 768px) {
 #menu .dropdown:hover .dropdown-menu {
 display: block;
}
}
@media (max-width: 767px) {
#menu .navbar-nav{margin:0;}
#menu .in{border-top:1px dotted #bbb;}
#menu {
 border-radius: 4px;
}
 #menu div.dropdown-inner > ul.list-unstyled {
 display: block;
}
 #menu div.dropdown-menu {
 margin-left: 0 !important;
 padding-bottom: 10px;
 background-color:#fff;
}
 #menu .dropdown-inner {
 display: block;
}
 #menu .dropdown-inner a {
 width: 100%;
 color: #222;
}
 #menu .dropdown-menu a:hover, #menu .dropdown-menu ul li a:hover {
 background-color:#eee;
}
 #menu .see-all {
 margin-top: 0;
 border: none;
 border-radius: 0;
 color: #222;
}
#menu .see-all:hover{color: #007acc;}
}

/* content */
#content {min-height: 600px;}

/* footer */
footer { margin-top: 30px; padding-top:15px; background-color: #607D8B; color: #c7c7c7; }
footer hr { border-top: none; border-bottom: 1px solid #444; }
footer a {color: #e2e2e2;}
footer a:hover { color: #fff; text-decoration:underline;}
footer h5 {font-family: 'Open Sans', sans-serif; font-size: 15px; color: #fff; margin-bottom:15px;}
footer li{margin:4px 0;}
footer li a{position:relative; padding-left:12px; color: #e2e2e2;}
footer li a:after{font-family:"FontAwesome"; font-weight:normal; font-variant:normal;text-transform:none; text-decoration:none; font-size:14px; left:0; text-indent:0;text-transform:none; text-align:center; content:'  '; position:absolute;}
footer li a:hover{color:#fff; text-decoration:underline;}
/* alert */
.alert { padding: 8px 14px 8px 14px; }

/* breadcrumb */
.breadcrumb { margin: 0 0 20px 0; padding:0px; background:none;}
.breadcrumb i { font-size: 15px; }
.breadcrumb > li { text-shadow: 0 1px 0 #FFF; padding:0 10px; position: relative; white-space: nowrap; }
.breadcrumb > li:first-child{padding-left:2px;}
.breadcrumb > li a{color:#777}
.breadcrumb > li a:hover{color:#007acc}
.breadcrumb > li + li:before { content: ''; padding: 0; }
.breadcrumb > li:after { content: ''; display: block; position: absolute; top:6px; right: -3px; width:6px; height:6px; border-right: 1px solid #bbb; border-bottom: 1px solid #bbb; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.pagination { margin: 0; }

/* buttons */
.buttons { margin: 1em 0; }
.btn { padding:7px 16px; font-size:14px; border:none; border-radius: 4px;}
.btn-xs { font-size: 9px; }
.btn-sm { font-size: 10.2px; }
.btn-lg { padding: 10px 16px; font-size: 15px; }
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover { font-size: 12px; }
.btn-group > .btn-xs { font-size: 9px; }
.btn-group > .btn-sm { font-size: 10.2px; }
.btn-group > .btn-lg { font-size: 15px; }
.btn-default { color: #777; background-color: #e7e7e7;}
.btn-primary { color: #ffffff; background-color: #007acc;}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { background-color: #222;}
.btn-warning { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #faa732; background-image: linear-gradient(to bottom, #fbb450, #f89406); background-repeat: repeat-x; border-color: #f89406 #f89406 #ad6704; }
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] { box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1); }
.btn-danger { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #da4f49; }
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] { box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1); }
.btn-success { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #5bb75b;}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] { box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1); }
.btn-info { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #df5c39;}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] { background-image: none; background-color: #df5c39; }
.btn-link { border-color: rgba(0, 0, 0, 0); cursor: pointer; color: #23A1D1; border-radius: 0; }
.btn-link, .btn-link:active, .btn-link[disabled] { background-color: rgba(0, 0, 0, 0); background-image: none; box-shadow: none; }
.btn-inverse { color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #363636;}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] { background-color: #222222;}

/* list group */
.list-group a { border: 1px solid #DDDDDD; color: #888888; padding: 8px 12px; }
.list-group a.active, .list-group a.active:hover, .list-group a:hover { color: #007acc; background: #eeeeee; border: 1px solid #DDDDDD; }

/* carousel */
.carousel-caption { color: #FFFFFF; text-shadow: 0 1px 0 #000000; }
.carousel-control .icon-prev:before { content: '\f053'; font-family: FontAwesome; }
.carousel-control .icon-next:before { content: '\f054'; font-family: FontAwesome; }

/* product list */
.product-thumb {margin-bottom: 20px; overflow: auto; }
.product-thumb .image { text-align: center; }
.product-thumb .image a { display: block; }
.product-thumb .image a:hover { opacity: 0.8; }
.product-thumb .image img { margin-left: auto; margin-right: auto; }
.product-grid .product-thumb .image { float: none; }
@media (min-width: 767px) {
.product-list .product-thumb .image {
 float: left;
 padding: 0 15px;
}
}
.product-thumb .caption{text-align:center;}
.product-thumb .caption > p{display:none;}
.product-thumb .caption > p.price{display:block;}
.product-list .product-thumb .caption { margin-left: 230px; text-align:left;}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
 min-height: 0;
 margin-left: 0;
}
.product-grid .product-thumb .caption {
 min-height: 0;
}
}
.product-thumb .rating { padding-bottom: 10px; }
.rating .fa-stack { font-size: 8px; }
.rating .fa-star-o { color: #999; font-size: 15px; }
.rating .fa-star { color: #FC0; font-size: 15px; }
.rating .fa-star + .fa-star-o { color: #E69500; }
h2.price { margin: 0; }
.product-thumb .price { color: #444; font-size: 16px; }
.product-thumb .price-new { color: #F20000; font-size: 16px; font-weight: 600; }
.product-thumb .price-old { color: #999; font-size: 16px; text-decoration: line-through; margin-left: 10px; }
.product-thumb .price-tax { color: #999; font-size: 16px; display: block; }
.product-thumb .button-group {background-color: #eee; overflow: auto; visibility:hidden;}
.product-thumb:hover .button-group{visibility:visible;}
.product-list .product-thumb .button-group {visibility:visible;}
.product-list .product-thumb .caption > p{display:block;}
@media (max-width: 768px) {
 .product-list .product-thumb .button-group {
 border-left: none;
}
}
.product-thumb .button-group button { width: 60%; border: none; display: inline-block; float: left; background-color: #eee; color: #888; line-height: 38px; font-weight: bold; text-align: center; text-transform: uppercase; }
.product-thumb .button-group button + button { width: 20%; border-left: 1px solid #ddd; }
.product-thumb .button-group button:hover { color: #fff; background-color: #007acc; text-decoration: none; cursor: pointer; }
@media (max-width: 1200px) {
 .product-thumb .button-group button, .product-thumb .button-group button + button {
 width: 33.33%;
}
}
@media (max-width: 767px) {
 .product-thumb .button-group button, .product-thumb .button-group button + button {
 width: 33.33%;
}
}
.thumbnails { overflow: auto; clear: both; list-style: none; padding: 0; margin: 0; }
.thumbnails > li { margin-left: 20px; }
.thumbnails { margin-left: -20px; }
.thumbnails > img { width: 100%; }
.image-additional a { margin-bottom: 20px; padding: 5px; display: block; border: 1px solid #ddd; }
.image-additional { max-width: 78px; }
.thumbnails .image-additional { float: left; margin-left: 20px; }
 @media (min-width: 1200px) {
 #content .col-lg-2:nth-child(6n+1), #content .col-lg-2:nth-child(6n+1), #content .col-lg-3:nth-child(4n+1), #content .col-lg-4:nth-child(3n+1), #content .col-lg-6:nth-child(2n+1) {
 clear:left;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
 #content .col-md-2:nth-child(6n+1), #content .col-md-2:nth-child(6n+1), #content .col-md-3:nth-child(4n+1), #content .col-md-4:nth-child(3n+1), #content .col-md-6:nth-child(2n+1) {
 clear:left;
}
}
@media (min-width: 768px) and (max-width: 991px) {
 #content .col-sm-2:nth-child(6n+1), #content .col-sm-2:nth-child(6n+1), #content .col-sm-3:nth-child(4n+1), #content .col-sm-4:nth-child(3n+1), #content .col-sm-6:nth-child(2n+1) {
 clear:left;
}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
 #column-left .product-layout .col-md-3 {
 width: 100%;
}
 #column-left + #content .product-layout .col-md-3 {
 width: 50%;
}
 #column-left + #content + #column-right .product-layout .col-md-3 {
 width: 100%;
}
 #content + #column-right .product-layout .col-md-3 {
 width: 100%;
}
}

.well > h2{margin-top:0px;}
/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout { width: 100%; }

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
 min-width: 50px;
}
/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] { background-image: none; background-color: #df5c39; }
